{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <section class="jumbotron text-center mt-5 headJumbotron" >
        <div>
            <h1 class="jumbotron-heading"><em>Classical Book</em> Genres:</h1>
        </div>
        <p class="lead text-muted">Below is a list of collections <em>classical book </em>categories. Feel free to sign up, delete and contribute with your addition. Have fun!</p>
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="lead">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </section>
        
    {% for i in cat %}
    <section class="mt-5 mb-2">
        <div class="text-center">
            <h3 class="mb-2"><strong>{{i.name}}</strong></h3>
            <a href="{{url_for('showCategoryItems', category_id=i['id'])}}">View books in this category</a>
            <br>
            <a href="{{url_for('newCategoryItem', category_id=i['id'])}}">Add a new book to this category</a>
        </div>
    </section>
    {% endfor %}

{% endblock %}
