<!DOCTYPE html>
<html>
<head>
    <title>Add New Item</title>
</head>
<body>
    <h1>Edit Item</h1>
    <form action="{{url_for('editCategoryItem', category_id=category_id, category_item_id=item.id)}}" method="POST">
        <label for="title">Title:</label>
        <input id='title' type="text" name="title" value="{{item.title}}">

        <p>About the Book:</p>
        <label for="description"></label>
        <textarea cols="30" rows="5" id="description" name="description">{{item.description}}</textarea><br><br>

        <label for="author">Book Author:</label>
        <input id="author" type="text" name="author" value="{{item.author}}"><br><br>
        <button>Submit</button>
    </form>
    <br>
    <a href="{{url_for('showCategoryItems', category_id=category_id)}}">Back to Item display</a>
</body>
</html>