{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <section class="jumbotron text-center mt-5 headJumbotron" >
        <div>
            <h1 class="jumbotron-heading">Edit {{item.title}}</h1>
        </div>
        <p class="lead text-muted"><em>Edit</em> detail(s) for book right below!</p>
        <a href="{{url_for('showCategoryItems', category_id=category_id)}}">Back to Item display</a>
    </section>

    <div class="container mt-5 mb-2">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form class="form" action="{{url_for('editCategoryItem', category_id=category_id, category_item_id=item.id)}}" method="POST">
                <div class="form-goup mb-3">
                    <label for="title">Title:</label>
                    <input class="form-control" id='title' type="text" name="title" value="{{item.title}}">
                </div>
                
                <div class="form-goup mb-2">About the Book:
                    <label for="description"></label>
                    <textarea class="form-control" cols="30" rows="5" id="description" name="description">{{item.description}}</textarea>
                </div>
                    
                <div class="mb-2 form-goup">
                    <label for="author">Book Author:</label>
                    <input class="form-control" id="author" type="text" name="author" value="{{item.author}}">
                </div>

                <button class="btn btn-outline-primary btn-block mb-2">Submit</button>
                </form> 
            </div>  
        </div>

        <a href="{{url_for('showCategoryItems', category_id=category_id)}}">Back to Book Item Display</a>
    </div>
{% endblock %}
