{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <section class="jumbotron text-center mt-5 headJumbotron" >
        <div>
            <h1 class="jumbotron-heading">New Book Item</h1>
        </div>
        <p class="lead text-muted">Enter details for a new <em>{{category.name}}</em> book right below!</p>
        <a href="{{url_for('showCategories')}}">Back to Book Genres</a>
    </section>

    <div class="container mt-5 mb-2">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form class="form" action="{{url_for('newCategoryItem', category_id=category_id)}}" method="POST">
                <div class="form-goup mb-3">
                    <label for="title">Title:</label>
                    <input class="form-control" id='title' type="text" name="title" required minlength="1" maxlength="80">
                </div>
                
                <div class="form-goup mb-2">About the Book:
                    <label for="description"></label>
                    <textarea class="form-control" cols="30" rows="5" id="description" name="description" required="" ></textarea>
                </div>
                    
                <div class="mb-2 form-goup">
                    <label for="author">Book Author:</label>
                    <input class="form-control" id="author" type="text" name="author" required minlength="4" maxlength="30">
                </div>

                <button class="btn btn-outline-primary btn-block mb-2">Submit</button>
                </form> 
            </div>  
        </div>

        <a href="{{url_for('showCategories')}}">Back to Book Genres</a>
    </div>

{% endblock %}
