<!DOCTYPE html>
<html>
<head>
    <title>Add New Item</title>
</head>
<body>
    <h1>Add New Item</h1>
    <form action="#" method="POST">
        <p>Title</p>
        <input type="text" name="title">

        <p>About the Book</p>
        <input type="text" name="description">

        <p>Author</p>
        <input type="text" name="author">

        <p>Category</p>
        <select>
            <option value="#">Adventure</option>
            <option value="#">Drama</option>
            <option value="#">Dystopia</option>
            <option value="#">Fantasy</option>
            <option value="#">Horror</option>
            <option value="#">Mystery</option>
            <option value="#">Mythology</option>
            <option value="#">Non-Fiction</option>
            <option value="#">Romance</option>
            <option value="#">Satire</option>
            <option value="#">Science Fiction</option>
            <option value="#">Tragedy</option>
        </select>
        <br><br>
        <button>Sunmit</button>
    </form>
    <br>
    <a href="{{url_for('showCategories')}}">Back to Item display</a>
</body>
</html>